#calendar {
	border: groove #404040 5px;
	margin-bottom: 15px;
}

#my-calendar {
	background-color: #808080;
	background-image: url("../media/concrete-wall-3.png");
}

/*.glyphicon-chevron-right:before{
			
    content: ">";
}

.glyphicon-chevron-left:before{
			
    content: "<";
}*/

@font-face{ 
	font-family: FontAwesome; src: url(../fonts/fa-solid-900.woff); 
} 
.glyphicon-chevron-right:before{ 
	font-family: FontAwesome; content: "\f054"; 
}
.glyphicon-chevron-left:before{ 
	font-family: FontAwesome; content: "\f053"; 
}