/*fonts
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
font-family: 'Aclonica';font-size: 22px;

<link href='https://fonts.googleapis.com/css?family=Uncial Antiqua' rel='stylesheet'>
font-family: 'Uncial Antiqua';font-size: 22px;
*/

html {
	/*background-color: #915831;*/
	width: 100%;
	height: 100%;
	background-color: #a87a36;
	background-image: url("../media/cream-dust.png");
}

h1.head1{
	font-family: 'Uncial Antiqua';
	font-size: 40px;
	text-transform: uppercase;
	color: black;
}

h2.head2{
	font-family: 'Uncial Antiqua';
	color: black;
	font-size: 30px;
}

h2.titular {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Uncial Antiqua';
	color: black;
	font-size: 30px;
}

h3.head3 {
	color: black;
	font-size: 20px;
}

p.p1 {
	color: black;
	text-align: justify;
	font-size: 17px;
}

p.p2 {
	color: black;
	text-align: center;
	font-size: 17px;
}

div.element_header {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
}

#myheader {
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	justify-content: space-between;
	border-bottom: 5px groove #404040;
	background-color: #a87a36;
	background-image: url("../media/cream-dust.png");
}

#mybody {
	background-color: #a87a36;
	background-image: url("../media/cream-dust.png");
}

#mynav {
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	border: 4px groove #404040;
	background-color: #666666;
	background-image: url("../media/concrete-wall-3.png");

}

#mysection {
	padding-right: 90px;
	padding-left: 90px;
	padding-top: 30px;
	padding-top: 30px;
}

#myfooter {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
	background-image: url("../media/concrete-wall-3.png");
	color: black;
    text-align: center;
    border: 4px groove #404040;
    display: flex;
    flex-flow: row;
    align-items: center;
}

article.myarticle {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
}



a.ext_link {
	color: #262626;
}
a.ext_link:hover {
	color: black;
}

li.media {
	background-color: #666666;
	background-image: url("../media/concrete-wall-3.png");
	border-style: groove;
	border-color: #404040;
	width: 100%;
	padding: 10px;
}

li.li_norm {
	color: black;

}

li.li_swords {
	color: black;
	list-style-image: url("../media/swords.png");
}

div.container-fluid{
	background-color: #a87a36;
	background-image: url("../media/cream-dust.png");
}

div.faq{
	margin-bottom: 25px;
	margin-top: 25px;
}

a.button{
	width: 12.5%;
	padding: 5px;
	text-align: center;
	border: groove #404040 5px;
	background-color: #808080;
	background-image: url("../media/concrete-wall-3.png");
	color:black;
}
a.button:hover {
	color:black;
	background-color: #666666;
}

img.center {
	align-content: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

hr.sep1 {
	color: black;
	background-color: black;
	border-color: black;
}


input.iform {
	width: 250px;
}

#enviar {
	background-color: #808080;
}

#question {
	width: 100%;
    height: 150px;
}

div.centervid {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}